.singleProduct{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.content-body{
    width: 65%;
}

.single-page-heading{
    text-align: start;
}

.single-author{
    display: flex;
    align-items: flex-start;
}

.article-card-img{
    width: 100%;
}

.article-content{
    text-align: start;
    display: flex;
    padding: 1rem;
    font-size: 22px;
    width: 100%;
}

.wp-caption{
    width: 100% !important;
}

.size-full{
    width: 100%;
    height: 80vh;
} 
