@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.2rem;
  font-family: 'Bitter', serif;
}

a{
  text-decoration: none;
  color: black;
}

.margin{
  margin: 1rem;
}

.b{
  border: 2px solid;
}